﻿@model TiViC_proba.Models.CreateProgrammeFormViewModel
@{
    <form asp-controller="Home" asp-action="SaveProgramme" method="post">
        @*<input hidden asp-for="@Model.id" />*@
        <div class="form-group">
            <label>Kanal:</label>
            <select asp-for="@Model.Programme.kanalId" asp-items="@(new SelectList(Model.Kanali, "kanalId", "naziv"))"></select>
            <span asp-validation-for="@Model.Programme.kanalId" />
        </div>
        <div class="form-group">
            <label>Datum:</label>
            <input type="date" asp-for="@Model.Programme.datum" />
            <span asp-validation-for="@Model.Programme.datum" />
        </div>
        <div class="form-group">
            <label>Vreme:</label>
            <input type="time" asp-for="@Model.Programme.vreme" />
            <span asp-validation-for="@Model.Programme.vreme" />
        </div>
        <div class="form-group">
            <label>Naziv:</label>
            <input asp-for="@Model.Programme.naziv" />
            <span asp-validation-for="@Model.Programme.naziv" />
        </div>
        <div class="form-group">
            <label>Tip:</label>
            <input asp-for="@Model.Programme.tip" />
            <span asp-validation-for="@Model.Programme.tip" />
        </div>
        <div class="form-group">
            <label>Opis:</label>
            <textarea asp-for="@Model.Programme.opis" rows="5" cols="40"></textarea>
            <span asp-validation-for="@Model.Programme.opis" />
        </div>
        @Html.AntiForgeryToken()

        <button class="btn btn-primary" type="submit">Dodaj</button>
    </form>
}
